In [1]:
import pandas as pd
data = pd.read_csv(r"c:\Users\Yash Kakade\Downloads\utils\content\weather_classification_data.csv")

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Temperature           13200 non-null  float64
 1   Humidity              13200 non-null  int64
 2   Wind Speed            13200 non-null  float64
 3   Precipitation (%)     13200 non-null  float64
 4   Cloud Cover           13200 non-null  object
 5   Atmospheric Pressure  13200 non-null  float64
 6   UV Index              13200 non-null  int64
 7   Season                13200 non-null  object
 8   Visibility (km)       13200 non-null  float64
 9   Location              13200 non-null  object
 10  Weather Type          13200 non-null  object
dtypes: float64(5), int64(2), object(4)
memory usage: 1.1+ MB

In [3]:
from sklearn.utils import shuffle
data = shuffle(data)
data.head()

,Temperature,Humidity,Wind Speed,Precipitation (%),Cloud Cover,Atmospheric Pressure,UV Index,Season,Visibility (km),Location,Weather Type
1443,29.0,37,4.0,6.0,partly cloudy,1015.28,10,Spring,7.0,coastal,Sunny
13059,52.0,80,2.0,75.0,overcast,1005.23,11,Spring,4.0,coastal,Cloudy
12654,33.0,20,12.0,81.0,overcast,917.04,4,Autumn,13.0,mountain,Rainy
10921,28.0,97,9.0,76.0,overcast,996.75,2,Winter,5.0,coastal,Rainy
3893,19.0,89,9.0,56.0,partly cloudy,992.21,3,Autumn,2.0,inland,Rainy

In [4]:
object_columns = data.select_dtypes(include=['object']).columns.tolist()
non_object_columns = data.select_dtypes(exclude=['object']).columns.tolist()
print(f"Object Columns: {object_columns}\nNon Object Columns: {non_object_columns}")

Object Columns: ['Cloud Cover', 'Season', 'Location', 'Weather Type']
Non Object Columns: ['Temperature', 'Humidity', 'Wind Speed', 'Precipitation (%)', 'Atmospheric Pressure', 'UV Index', 'Visibility (km)']

In [5]:
# DON'T EDIT THIS CELL
if (object_columns == ['Cloud Cover', 'Season', 'Location', 'Weather Type'] and non_object_columns == ['Temperature', 'Humidity', 'Wind Speed', 'Precipitation (%)', 'Atmospheric Pressure', 'UV Index', 'Visibility (km)']):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed

In [9]:
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [10]:
ordinal_encoder = OrdinalEncoder()
standard_scaler = StandardScaler()

In [11]:
column_transformer = ColumnTransformer(
    transformers=[
        ('cat', ordinal_encoder, object_columns),
        ('num', standard_scaler, non_object_columns)
    ]
)

In [12]:
data_scaled_labeled = column_transformer.fit_transform(data)

In [13]:
all_columns = object_columns + non_object_columns
data_scaled_labeled = pd.DataFrame(data_scaled_labeled, columns=all_columns)

In [15]:
data_scaled_labeled_check = pd.read_csv(r"c:\Users\Yash Kakade\Downloads\utils\content\data_scaled_labeled_check.csv")
import numpy as np
data_scaled_labeled_values = np.sort(data_scaled_labeled.values,axis=0)
data_scaled_labeled_check_values = np.sort(data_scaled_labeled_check.values,axis=0)
if np.allclose(data_scaled_labeled_values, data_scaled_labeled_check_values, equal_nan=True):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed

In [16]:
X = data_scaled_labeled.drop('Weather Type', axis=1)
y = data_scaled_labeled['Weather Type']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.90, random_state=10)

In [19]:
if (len(X_train)==11880 and len(X_test)==1320):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

if (len(y_train)==11880 and len(y_test)==1320):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed
Test Passed

In [20]:
X_train.head()

,Cloud Cover,Season,Location,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
7017,2.0,3.0,2.0,-0.927636,1.400906,0.892792,0.105042,-0.565563,-0.779410,-0.730539
12278,3.0,2.0,2.0,1.488147,-0.480889,-0.048086,0.073739,-0.095647,0.776424,2.383921
2859,0.0,0.0,1.0,1.603184,0.162883,0.241415,1.701520,0.365935,2.072951,1.197460
5495,2.0,1.0,1.0,0.682886,0.955217,0.748042,-0.082779,-0.288398,-0.260799,-1.175461
8469,0.0,3.0,1.0,0.337774,-1.025620,-0.482337,-1.209704,0.174259,0.517118,1.345768

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
score = model.score(X_test, y_test)
print("Accuracy:", score * 100)

Accuracy: 90.9090909090909

In [24]:
if (score>0.90):
  print(f"\033[32mTest Passed\033[0m")
else:
  print(f"\033[31mTest Failed\033[0m")

Test Passed

In [25]:
input = X_test.head()
input

,Cloud Cover,Season,Location,Temperature,Humidity,Wind Speed,Precipitation (%),Atmospheric Pressure,UV Index,Visibility (km)
11923,3.0,0.0,0.0,0.625367,1.202822,2.412672,0.793719,0.249531,1.813646,-1.175461
2331,2.0,0.0,2.0,0.682886,-0.778015,-0.554712,-1.241007,0.341740,-0.520104,0.752538
217,3.0,1.0,1.0,0.165218,-1.273224,-0.409962,-1.522739,0.549546,0.257813,0.900845
1760,3.0,2.0,0.0,1.258072,1.153301,1.978420,0.605898,-0.091883,2.591563,1.642383
3963,2.0,3.0,1.0,-1.617860,0.162883,-0.048086,-0.082779,-0.175490,-0.779410,-1.027154

In [26]:
y = model.predict(input)
y

array([1., 0., 3., 0., 2.])